@import "../base/variables";
@import "../base/mixin";


@media (min-width:992px) {
    .vestidoIndex {
        width: 35%;
        animation-name: imagenAnimation;
        animation-duration: 3s;
        animation-iteration-count: initial;

    }
    @keyframes imagenAnimation {
        from {
            margin-left: -1000px;
        }
    }

    h1{
        text-align: center;
        font-size: 50px;
        color: $colorSecundario;
    }
    .contenedorUnoIndex {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2 {
            color: $colorSecundario;
        } 
    }
  

    .contenedorDosIndex{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px;
        .pantuflas, .camison, .pantalonesIndex {
            transition: 0.3s ease ;
        }
        .pantuflas:hover, .camison:hover, .pantalonesIndex:hover {
            @include transformaciones(scale(0.90));
        }
        .hijoUno img {
            width: 80%;
        }
        .camison {
            width: 70%;
        }
        .hijoUno h3, .hijoDos h3{
            font-size: 45px;
            text-align: center;
        }
    }


    /* PAGINA PRODUCTOS*/
    .contenedorProd1{
        display: flex;
        align-items: center;
        h2 {
            margin-left: 20px;
            font-size: 40px;
        }
    }
    
    .contenedorProd2 {
        display: flex;
        justify-content: end;
        align-items: center;
        h3 {
            margin-right: 20px;
            font-size: 40px;
        }
    }
    
    .contenedorProd3 {
        display: flex;
        align-items: center;
        h2 {
            margin-left: 20px;
            font-size: 40px;
        }
    }
   
    
    /* PAGINA PREGUNTAS FRECUENTES */

    .preguntasUno{
        display: flex;
        align-items: center;
        margin-top: 60px;
        justify-content: space-evenly;
    }
    .preguntasDos {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 30px;
        p {
            width: 50%;
            text-align: right;
            font-size: 25px;
        }
    }
    

    .preguntasDos h2, .preguntasTres h2, .preguntasCuatro h3{
        font-size: 40px;
    }

    .preguntasTres {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 30px;
        p {
            width: 50%;
            font-size: 25px;
        }
    }
   
    .preguntasCuatro {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 30px;
        p {
            width: 50%;
            font-size:25px;
            text-align: right;
        }
    }
   

    /*QUIENES SOMOS */

    .nosotrosUno {
        display: flex;
        margin-top: 70px;
        align-items: center;
        img {
            width: 50%;
        }
        div {
            margin: 50px;
        }
        p {
            font-size: 25px;
            text-align: center;
        }
    }
   
    .nosotrosDos {
        width: 40%;
        font-size: 30px;
        text-align: center;
        padding: 2rem;
    }
    .videoNosotros {
        display: flex;
        justify-content: center;
        margin: 90px;
        iframe {
            width: 50%;
        }
    }

   

    /* Contato */

    .contactoUno {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    form {
        @include form; 
    }
   

    .contactoDos h2{
        font-size: 30px;
    }
    .imagenContacto {
        display: flex;
        justify-content: center;
    }
}